<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Agendar horário</title>
</head>
<body>

    <h1>Agendar horário</h1>

    <p>Olá, {{ user.username }}!</p>

    <h2>Escolha o barbeiro:</h2>

    <form method="POST">

        {% csrf_token %}

        {% for barbeiro in barbeiros %}

            <input 
                type="radio" 
                name="barbeiro" 
                value="{{ barbeiro.id }}"
            >

            {{ barbeiro.nome }}

            <br>

        {% endfor %}


        {% if servicos %}

            <h2>Escolha o serviço:</h2>

            {% for servico in servicos %}

                <input
                    type="radio"
                    name="servico"
                    value="{{ servico.id }}"
                >

                {{ servico.nome }} - R$ {{ servico.preco }}

                <br>

            {% endfor %}

        {% endif %}


        <button type="submit">
            Continuar
        </button>

    </form>


    <br>


    <a href="{% url 'home' %}">
        Voltar
    </a>

</body>
</html>