<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Confirmar cancelamento</title>
</head>

<body>

    <h1>Confirmar cancelamento</h1>

    <p>
        Tem certeza que deseja desmarcar com o barbeiro
        <strong>{{ agendamento.barbeiro }}</strong>?
    </p>

    <p>
        <strong>Serviço:</strong>
        {{ agendamento.servico }}
    </p>

    <p>
        <strong>Data:</strong>
        {{ agendamento.data|date:"d/m/Y" }}
    </p>

    <p>
        <strong>Horário:</strong>
        {{ agendamento.horario|time:"H:i" }}
    </p>


    <form method="POST">
        {% csrf_token %}

        <button type="submit">
            Sim, cancelar
        </button>
    </form>


    <br>


    <a href="{% url 'meus_agendamentos' %}">
        Não, voltar
    </a>

</body>

</html>