<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Barbearia</title>
</head>
<body>

    <h1>Barbearia App</h1>
    <p>Sistema de agendamento funcionando!</p>

    {% if user.is_authenticated %}

        <p>Olá, {{ user.username }}!</p>

        <p>
            <a href="{% url 'agendar' %}">Agendar horário</a>
        </p>

        <p>
            <a href="{% url 'meus_agendamentos' %}">
                Meus agendamentos
            </a>
        </p>

        <p>
            <a href="{% url 'logout' %}">Sair</a>
        </p>

    {% else %}

        <p>
            <a href="{% url 'login' %}">Entrar</a>
        </p>

        <p>
            <a href="{% url 'cadastro' %}">Criar conta</a>
        </p>

    {% endif %}

</body>
</html>