<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Escolher horário</title>
</head>

<body>

    <h1>Escolha o horário</h1>


    {% if messages %}

        {% for message in messages %}

            <p>{{ message }}</p>

        {% endfor %}

    {% endif %}


    <p>Data escolhida: {{ data }}</p>


    <form method="POST">

        {% csrf_token %}


        {% for horario in horarios %}

            <input
                type="radio"
                name="horario"
                value="{{ horario }}"
            >

            {{ horario }}

            <br>

        {% endfor %}


        <button type="submit">
            Continuar
        </button>

    </form>


    <br>


    <a href="{% url 'escolher_data' %}">
        Voltar
    </a>

</body>
</html>