<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Escolher serviço</title>
</head>

<body>

    <h1>Escolha o serviço</h1>

    <p>Barbeiro escolhido: {{ barbeiro }}</p>


    <form method="POST">

        {% csrf_token %}


        {% for servico in servicos %}

            <input
                type="radio"
                name="servico"
                value="{{ servico.id }}"
            >

            {{ servico.nome }} - R$ {{ servico.preco }}

            <br>

        {% endfor %}


        <button type="submit">
            Continuar
        </button>

    </form>


    <br>


    <a href="{% url 'agendar' %}">
        Voltar
    </a>


</body>
</html>