<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Agendamento realizado</title>
</head>

<body>

    <h1>✅ Agendamento realizado com sucesso!</h1>


    <p>
        <strong>Barbeiro:</strong>
        {{ barbeiro }}
    </p>


    <p>
        <strong>Serviço:</strong>
        {{ servico }}
    </p>


    <p>
        <strong>Data:</strong>
        {{ data }}
    </p>


    <p>
        <strong>Horário:</strong>
        {{ horario }}
    </p>


    <p>
        <strong>Valor:</strong>
        R$ {{ valor_formatado }}
    </p>


    <h3>
        Deseja enviar a confirmação para o barbeiro?
    </h3>


    <a href="{{ link_whatsapp }}" target="_blank">
        Enviar pelo WhatsApp
    </a>


    <br><br>


    <a href="{% url 'home' %}">
        Voltar para o início
    </a>

</body>

</html>